@media screen and (max-width: 1200px){

}
@media screen and (max-width: 900px){

    /*menu*/
    nav{
        height: auto;
        width: 96%;
        margin: 0 auto;
    }
    .menu_list{
        clear: both;
        height: 50px;
        line-height: 50px;
        background-color: #fd926d;
       width: 100%;
        margin: 0 auto;
        position: relative;
    }
    .menu li .new_list {
        min-width: 180px;
        display: block;
        position: static;
        list-style-type: none;
        transition: 0.9s;
    }

    .menu{
        display: none;
        width: 360px;
        margin-left: 307px;
        text-align: center;
        position: absolute;
        top: 49px;
        right: 0%;
    }

    .menu > li{
        color: #ffffff;
        text-transform: uppercase;
    }
    .menu li ul li {
        text-transform: uppercase;
        font-weight: bold;
    }

    .menu li ul li a {
        color: #bebebe;
        background-color: #f7f7f7;
    }
    .menu > li a{
        color: #ffffff;
    }
    .menu_list li{
        display: inherit;
        z-index: 12;
        background-color: #fd926d;
    }
    .menu_list li:after {
        left: 35px;
    }
    .menu_list ul li ul{
        left: -217px;
        top: 0;
    }

    .menu_list span{
        display: inline-block;
        color: #ffffff;
        font-family: "Arial MT",sans-serif;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        margin-left: 17px;
    }
    .top_menu{
        display: block;
        float: right;
        border: none;
        background-color: #fd926d;
        padding-top: 13px;
    }

    .menu_list ul li ul {
        opacity: 1;
        display: block;
        position: static;
    }

    .menu_list li:after{
        content: '';
        display: none;

    }

    .rekvizity{
        display: none;
    }

    /*footer*/
    .footer_list{
        padding-left: 2px;
    }
    .footer_camp{
        order: 5;
        padding-left: 2px;
    }
    .footer_icons{
        order: 4;
        width: 112px;
        height: 110px;
        padding-left: 2px;
        margin-right: 20px;
        padding-top: 20px;
    }


    .fooret_sity{
        order: 6;
        padding-left: 63px
    }
    .centred{
        justify-content: space-around;
    }
    .cart_checout{
        width: 100%;
        display: flex;
        flex-basis: 100%;
        justify-content: space-between;
    }
    .checout_top{
        width: 45%;
    }
    .checout_bottom{
        width: 45%;
        margin-top: 0;
    }

    .section-col {
        width: 100%;
        padding: 0px;
        overflow: hidden;
    }

    .position_img{
        height: 100%;
        order: 2;
    }
    .section-col-content p{
        text-align: center;
        font-size: 23px;
        padding: 10px;
    }

}
@media screen and (max-width: 760px){
    .slider_body {
        padding-left: 23px;
    }

    .product {
        margin-right: 16px;
    }

.centred .product_r{
    margin-right: 0px;
}
    .product_r{
        width: calc(100% /2 - 25px);
        margin-bottom: 20px;
        margin-right: 20px;
    }
    .product_r:hover{
        transform: none;
    }
    .best_sellers_title {
        top: 43%;
        /* width: 1%; */
        font-size: 24px;
    }
    .fall leather_title {
        font-size: 26px;
        text-transform: uppercase;
    }
    .back-right {
        top: 1px;
        width: 32%;
    }
    .back-top {
        top: 20%;
        right: 43px;
    }

    .footer_list{
        display: none;
    }
    .footer_adapt_list{
        display: none;
        position: absolute;
        width: 40%;
        text-align: center;
        bottom: 42px;
        background: black;
    }
    .footer_adapt_list li{
        width: 100%;
        float: none;
        display: block;
        border-bottom: 1px solid white;
        margin-right: 0;
    }
    .footer_adapt{
        position: relative;
    }

    .footer_adapt .bottom_menu{
        background-color: #0a0a0a;
        float: left;
        margin-top: 16px;
        border: none;
    }
    .bottom_menu{
        display: block;
    }

    .pole {
        flex-basis: 100%;
    }
    .products_img_slide {
        min-width: 200px;
        max-width: 250px;

    }

    .products_text {
         width: 100%;
        text-align: justify;
        font-size: 16px;
        margin: 0;
         text-shadow: 1px 1px rgba(255, 255, 255, 0.56);
    }

    .contact_form{
        order: 1;
    }

    .contact{
        order: 2;
    }
    .cart{
        order: 3;
    }



    /*footer_top_menu*/
    .top_menu_top{
        display: block;
        background: #000000;
        border: none;
    }
    .footer_adapt_top{
        position: relative;
    }
    .footer_adapt_list_top {
        display: none;
        position: absolute;
        left: 8px;
        z-index: 200;
    }
    .footer_adapt_list_top a{
    border-bottom: 1px solid white;
}

    .footer_adapt_list_top li{
        float: none;
        width: 200px;
        background: #0a0a0a;
        text-align: center;
        z-index: 200;
    }

    .footer_adapt_list_top li a:after{

        right: 46px;

    }

    .abbs {
        display: none;

    }

}

@media screen and (max-width: 640px) {
    html {
        background-color: #ffffff;
    }

    .basket:hover .products_cart{
        display: none;
    }
    .section_slide_3 {
        display: none;
    }

    .account_list a {
        font-size: 14px;
    }

    #slider_bott_ul {
        display: none;
    }

    .slider_butto_bot {
        display: none;
    }

    .header {
        margin-bottom: 31px;
    }

    .header_content {
        height: 62px;
    }

    .right {
        float: none;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        background-color: #0a0a0a;
    }

    .select {
        width: 25%;
    }

    .container-2 {
        width: 25%;
    }

    .account {
        width: 50%;
        font-size: 23px;
        font-weight: 400;
        text-transform: uppercase;
        /* Text style for "$ US" */
        letter-spacing: -0.15px;
    }

    .container-2 .icon {
        left: 90px;
    }

    .container-2 input#search {
        width: 91px;
    }

    .care {
        background-color: #f9f6ff;
    }

    .care span {
       font-size: 25px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: -0.15px;
        text-align: center;
        justify-content: center;
        color: #838383;
    }

    .inl {
        display: flex;
        justify-content: center;
    }

    .logo {
        float: none;
        background-color: #ffffff;
        margin-bottom: -53px;
    }

    .logo img {
        display: block;
        width: 30%;
        margin: 10px auto;
    }

    .basket_title {
        display: none;
    }

    .basket {
        width: 100%;
    }

    .bascet_count {
        width: 100%;
    }

    .basket:before {
        top: 7px;
    }

    .bascet_count {
        font-size: 25px;
        font-weight: 400;
        text-transform: uppercase;
    }

    .slider_wrap {
        display: none;
    }

    .add_mail {
        width: 95%;
        display: block;
        margin: 0 auto;
    }

    .add_mail span {
        display: none;
    }

    .find_us {
        margin-top: 2px;
        margin-bottom: 10px;
        height: 100%;
        background: #fff;
    }

    input[type='text'] {
        width: 100%;
        max-width: 611px;
        height: 60px;
        font-size: 24px;
        margin: 0 auto;
        position: relative;
        background: #d6c6d3;
    }

    .add_mail img {
        width: 50%;
    }

    .add_mail button {
        position: absolute;
        top: 11px;
        right: 0;
        width: 60px;
        height: 60px;
    }



    .word {
        font-size: 24px;
    }

    .content {
        display: none;
    }

    #slider_bott_ul_mobile {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        background-color: #fd926d;
    }

    #slider_bott_ul_mobile select {
        width: 100%;
        background-color: #fd926d;
        margin: 0 auto;
        outline: none;
        border: none;
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .slider_but{
        max-height: none;
    }
    .load_more{
        display: block;
    }

    option {
        border: none;
        outline: none;
    }

    .img_accept img {
        width: 90%;
    }

    .pole input[type=text] {
        font-size: 16px !important;
    }

    .product_r {
        margin-bottom: 20px;

    }


    .products_menu {
            display: none;
    }
    .brands_list{
        display: none;
    }
    .count .product_add_to_cart_r{
        display: block;
    }
    .product_content_img{
        width: 90%;
    }
    .product_content_img img{
        width: 100%;
    }

    .content_cart{
        padding-left: 5px;
        padding-right: 5px;
    }
    .cart_checout {
        /* width: 100%; */
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }
    .checout_top{
        order: 2;
        width: 100%;
    }

    .checout_bottom{
        order: 1;
        margin-bottom: 50px;
        width:100%;
    }
    .cart_price{
        margin-left: 10px;
    }

    .cart_up{
        margin-left: 5px;
    }
    .cart_count{

        margin-left: 10px;

    }

    .about_title {
        font-size: 40px;
    }
    .count_more{
        font-size: 20px;
    }
    .prein_content{
        justify-content: center;
    }
    .preim_list{
        margin-bottom: 25px;
    }

    .bascet_count i{
        margin-top: 5px;
    }
    @media screen and (max-width: 520px){
        .cart_product{
            flex-direction: column;
            align-items: center;
        }
        .cart_delite{
            width: 100px;
            height: 30px;
            background-color: #fd926d;
            background-image: none;
            position: relative;
        }
        .cart_delite a:before{
            position: absolute;
            content: 'Удалить';
            color: #ffffff;
            display: block;
            padding: 5px 19px;


        }
        .hidden{
            display: none!important;
        }
        .about_title {

            padding-top: 29px;
        }
        .cart{
            width: 80%;
            height: 400px;
            margin: 0 auto;
        }
    }
}

